services:
  web:
    build:
      dockerfile: Dockerfile.prod
    environment:
      - FLASK_SECRET_KEY=ze4f2fWLmEY9dADjhwvhym3U
      - DB_PASS=123123
    ports:
      - '5000:80'
  database:
    environment:
      - MYSQL_ROOT_PASSWORD=123123
      - MYSQL_DATABASE=pghumor
