body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

footer {
    text-align: center;
}

#aboutUsText {
    display: none;
}

.right {
    float: right;
}

#HomeText {
    clear: both;
}

h1 {
	font-size: 56px;
}

#Chiste {

}
