body {
  margin-top: 20px;
}

.content {
  padding: 40px 15px;
  text-align: center;
}

#home-content {
  clear: both;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  color: #777777;
}

#tweet {
  border-radius: 5px;
  border: 1px solid #e1e8ed;
  display: flex;
  margin: 30px auto;
  max-width: 500px;
  min-height: 150px;
  padding: 20px;
}

#tweet-logo {
  float: right;
  height: 20px;
  margin-left: auto;
  width: 20px;
}

#tweet-text {
  color: #1c2022;
  cursor: text;
  font-family: Helvetica, Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.4;
  margin: auto;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}

#options-container {
  display: inline-grid;
  text-align: left;
}

#options-question {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: center;
}

#options-answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

/* If I use the class instead of 'li', the "display: inline;" doesn't work. */
li {
  display: inline;
  margin: 0 20px 20px 20px;
}

#not-humor, #humor, #skip {
  min-width: 100px;
}

#humor {
  color: black;
  cursor: default;
}

#humorous {
  height: fit-content;
  align-self: center;
  min-width: 100px;
}

#humorous-container {
  display: inline-flex;
  flex-wrap: wrap;
}

#funniness-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

#funniness-question {
  margin: auto;
}

#skip {
  font-size: 14px;
  text-decoration: none;
}

#about-us-content {
  display: none;
}

footer {
  text-align: center;
}
