/*.vote {
  position: absolute;
  top: 0;
  left: 0;
}

.vote {
  border: none;
  background: transparent url('../img/votes.png');
  display: block;
  cursor: pointer;
  height: 48px;
  position: absolute;
  width: 48px;
  z-index: 11;
  top: 48px;
  outline: none;
}
*/
.vote-humor {
  border: none;
  background: transparent url('../img/votes.png');
  display: block;
  cursor: pointer;
  height: 48px;
  width: 48px;
  z-index: 11;
  outline: none;
  transform: scale(0.7);
}

.vote-offensive {
  border: none;
  background: transparent url('../img/votes.png');
  display: block;
  cursor: pointer;
  height: 48px;
  width: 56px;
  z-index: 11;
  outline: none;
  transform: scale(0.7);
}

.unselected {
  transform: scale(0.75);
}

.selected {
  transform: scale(1);
}

.toolbox-hidden {
  visibility: hidden;
}

.votes-hidden {
  visibility: hidden;
}

.toolbox-visible {
  visibility: visible;
}

.votes-visible {
  visibility: visible;
}

#humor-container {
  position: relative;
}

.toolbox {
  background: #fff;
  height: 52px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 250px;
  border-radius: 40px;
  top: 46px;
  left: -75px;
  position: absolute;
}

#votes {
  position: absolute;
  left: -75px;
}

.legend-vote {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  text-overflow: ellipsis;
  font-weight: bold;
  line-height: 20px;
  opacity: 0;
  overflow: hidden;
  padding: 0 6px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: -28px;
  transform: translateX(-50%);
}

.legend-wider {
  width: 50px;
}

.humor-d {
  background-position: 0 -480px;
  /*left: 50px;*/
}

.humor-2 {
  background-position: 0 -48px;
  /*left: 50px;*/
}

.humor-3 {
  background-position: 0 -96px;
  /*left: 100px;*/
}

.humor-4 {
  background-position: 0 -144px;
  /*left: 150px;*/
}

.humor-5 {
  background-position: 0 -192px;
  /*left: 200px;*/
}

.offensive-1 {
  background-position: 0 -240px;
}

.offensive-2 {
  background-position: 0 -288px;
  /*left: 55px;*/
}

.offensive-3 {
  background-position: 0 -336px;
  /*left: 110px;*/
}

.offensive-4 {
  background-position: 0 -384px;
  /*left: 165px;*/
}

.offensive-5 {
  background-position: 0 -432px;
  /*left: 220px;*/
}

.toggle-button {
    min-width: 100px;

    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #333;
    background-color: #fff;

    display: inline-block;
    margin: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;

    user-select: none;
}

.toggle-button:hover {
    border-color: #999;
}

.toggle-button-down {
    background-color: #e7e7e7;
    border-color: #aaa;
}

.votes-panel {
  display: flex;
  background: #fff;
  height: 52px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
  width: 300px;
  border-radius: 40px;
}

.votes-panel-hidden {
  visibility: hidden;
}
