<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ayudá a clasificar tweets como humorísticos o no humorísticos, y si lo son, decí qué tan graciosos son. El objetivo es armar un conjunto de datos para investigar sobre Humor Computacional.">
  <meta name="author" content="Santiago Castro, Matías Cubero y el Grupo PLN, UdelaR">
  <link rel="apple-touch-icon" href="../static/img/favicon.png">

  <title>Estadísticas</title>

  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div class="container" style="padding: 0 16px">
    <h1>Estadísticas</h1>

    <p>Cantidad total de votos: {{ stats['votes'] }}</p>

    <p>Cantidad de salteos: {{ stats['votes'] - stats['votes-without-skips'] }}</p>

    <p>Cantidad de votos, sin salteos: {{ stats['votes-without-skips'] }}</p>

    <p>Distribución de votos por tweet (sin los 4 de prueba):</p>

    <div id="chart-histogram" style="width: 900px; height: 500px;"></div>

    <p>Votos por categoría:</p>

    <div id="chart-votes-per-category" style="width: 900px; height: 500px;"></div>

{#    <h2>Votos que pasan los tweets de prueba</h2>#}
{##}
{#    <p>Votos, que no son salteos, cuya sesión cumpla haber pasado los tweets de prueba.</p>#}
{##}
{#    <p>#}
{#      Para ver si pasaron los tweets de prueba, primero recordar que originalmente eran 3: uno de no humor, luego uno#}
{#      de humor y finalmente otro de no humor. En el medio de la votación se cambió el de humor por otro tweet de humor,#}
{#      por considerarse un poco ambiguo. Entonces, el criterio para pasar los tweets de prueba es que se hayan#}
{#      clasificado correctamente los dos no humorísticos y que si votaron el nuevo tweet de prueba de humor, que esté#}
{#      bien votado.#}
{#    </p>#}
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});

    google.charts.setOnLoadCallback(drawHistogramChart);
    function drawHistogramChart() {
      var data = google.visualization.arrayToDataTable({{ stats['histogram']|safe }});

        var options = {
          legend: { position: 'none' },
          colors: ['#4285F4']
        };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart-histogram'));
      chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawVotesPerCategoryChart);
    function drawVotesPerCategoryChart() {
      var data = google.visualization.arrayToDataTable({{ stats['votes-per-category']|safe }});

        var options = {
        };

      var chart = new google.visualization.PieChart(document.getElementById('chart-votes-per-category'));
      chart.draw(data, options);
    }
  </script>
</body>

</html>
