<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Ayudá a clasificar tweets como humorísticos o no humorísticos, y si lo son, decí qué tan graciosos son. El objetivo es armar un conjunto de datos para investigar sobre Humor Computacional.">
  <meta name="author" content="Santiago Castro, Matías Cubero y el Grupo PLN, UdelaR">
  <link rel="apple-touch-icon" href="img/favicon.png">

  <title>Estadísticas</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .chart {
      height: 500px;
      width: 900px;
    }
  </style>
</head>

<body>
  <div class="container" style="padding: 0 16px">
    <h1>Estadísticas</h1>

    <p>Cantidad total de votos: {{ stats['votes'] }}</p>
    <p>Cantidad de sesiones: {{ stats['sessions'] }}</p>
    <p>Votos a los 3 tweets de prueba: {{ stats['test-tweets-vote-count'] }}</p>
    <p>Votos que no fueron a los de prueba: {{ stats['votes-not-consider-test'] }}</p>

    <p>Distribución de votos por tweet (sin los de prueba):</p>
    <div id="chart-histogram" class="chart"></div>

    <p>Votos por categoría:</p>
    <div id="chart-votes-per-category" class="chart"></div>

    <h2>Votos sin salteos</h2>

    <p>Cantidad de votos: {{ stats['votes-without-skips'] }}</p>
    <p>Cantidad de sesiones: {{ stats['sessions-without-skips'] }}</p>

    <h2>Votos que pasan los tweets de prueba y no son salteos</h2>

    <p>Votos, que no son salteos, cuya sesión cumpla haber pasado los tweets de prueba.</p>

    <p>Cantidad de votos: {{ stats['votes-pass-test'] }}</p>
    <p>Cantidad de sesiones: {{ stats['sessions-pass-test'] }}</p>
  </div>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <!--suppress ES6ConvertVarToLetConst, JSUnresolvedFunction, JSUnresolvedVariable -->
  <script type="text/javascript">
    google.charts.load('current', {packages:['corechart']});

    google.charts.setOnLoadCallback(drawHistogramChart);
    function drawHistogramChart() {
      var data = google.visualization.arrayToDataTable({{ stats['histogram']|safe }});

        var options = {
          legend: { position: 'none' },
          colors: ['#4285F4']
        };

      var chart = new google.visualization.ColumnChart(document.getElementById('chart-histogram'));
      chart.draw(data, options);
    }

    google.charts.setOnLoadCallback(drawVotesPerCategoryChart);
    function drawVotesPerCategoryChart() {
      var data = google.visualization.arrayToDataTable({{ stats['votes-per-category']|safe }});

        var options = {
        };

      var chart = new google.visualization.PieChart(document.getElementById('chart-votes-per-category'));
      chart.draw(data, options);
    }
  </script>
</body>

</html>
